.wp-block-woocommerce-cart {
  * {
    font-family: $text-font;
    text-decoration: none;
    color: black;
  }

  background-color: $backgroundColor;
  margin: 2rem $default-margin-side;

  //Header title
  .wc-block-cart-items__header,
  .wp-block-woocommerce-cart-order-summary-heading-block.wc-block-cart__totals-title,
  a.wc-block-components-product-name {
    font-family: $main-title-font;
  }

  //Add + -
  .wc-block-components-quantity-selector {
    background-color: $yellow-color;
    border-radius: $default-border-radius;
    border: none;
  }

  .wc-block-components-quantity-selector::after {
    border: none;
  }

  //Check out button
  .components-button.wc-block-components-button.wp-element-button.wc-block-cart__submit-button.contained {
    background-color: $yellow-color;
    font-family: $main-title-font;
    border-radius: $default-border-radius;
  }

  //Shipping circle button
  .wc-block-components-radio-control
    .wc-block-components-radio-control__input:checked::before {
    color: $yellow-color;
    background-color: $yellow-color;
  }
}

.wc-block-grid.wp-block-product-new.wc-block-product-new.has-4-columns,
.wp-block-heading.has-text-align-center,
.wp-block-separator.has-alpha-channel-opacity.is-style-dots {
  display: none;
}

.wp-block-heading.has-text-align-center.with-empty-cart-icon.wc-block-cart__empty-cart__title {
  display: block;
  padding: 10rem;
}

img {
  border-radius: 5px;
}

.wc-block-components-main.wc-block-cart__main.wp-block-woocommerce-cart-items-block {
  margin-left: 2rem;
  width: 61%;
}
