//Main-Colors
$turquoise-color: #0bac9f;
$purple-color: #9630a5;
$yellow-color: #feb113;
$pink-color: #f65d7f;
$selected-yellow-color: #a87610; 
$default-margin-side: 10rem;

//Colors
$backgroundColor: #edeec7;

//Layout
$default-border-radius: 10px;
$default-margin-side: 10rem;

//font import
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Luckiest+Guy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Luckiest+Guy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//Fonts
$main-title-font: 'Luckiest Guy';
$secondary-title-font: 'Indie Flower';
$text-font: 'Poppins';