.woocommerce-error {
  padding: 1em 2em 1em 3.5em;
  margin: 0 0 2em;
  position: absolute;
  background-color: #feb113;
  color: #515151;
  list-style: none outside;
  width: auto;
  word-wrap: break-word;
  border-radius: 10px;
  border: 1px solid red;
  box-shadow: 0 0 10px $selected-yellow-color;
  font-family: $main-title-font;
  z-index: 100;
}


.woocommerce-message {
  padding: 1em 2em 1em 2.5em;
  margin: 0 0 2em;
  position: absolute;
  background-color: #feb113;
  color: #515151;
  list-style: none outside;
  width: auto;
  word-wrap: break-word;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0 0 10px black;
  font-family: $main-title-font;
  z-index: 100;


  a.button.wc-forward {
    display: none;
  }
}
