#primary {
  margin: auto;
  width: 100%;
  background-color: $backgroundColor;
  display: flex;
  justify-content: center;
  align-items: center;

  main {
    min-width: 100vw;

    p.woocommerce-result-count {
      display: none;
    }

    .viwcpf_active_filters.theme_style {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: $default-margin-side;
      h4 {
        display: none;
      }

      ul {
        li {
          color: $yellow-color;
          border: 1px solid $yellow-color;
          border-radius: $default-border-radius;
          padding: 10px;
          background-color: $yellow-color;

          a {
            text-decoration: none;
            color: black;
            font-family: $text-font;
          }
        }
      }
    }

    .viwcpf-filter-trigger-box {
      position: absolute;
      left: 0;
      margin: 0px calc($default-margin-side + 2rem);
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $yellow-color;
        padding: 20px 130px;
        border: 1px solid $yellow-color;
        border-radius: $default-border-radius;
        span {
          display: none;
        }
      }
    }

    //Style for the Bread nav add the neon.
    nav.woocommerce-breadcrumb {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
      padding: 20px;
      margin-bottom: 1rem;

      a {
        text-decoration: none;
        padding: 1.5rem 2.5rem;

        margin: 0.5rem;
        font-family: $main-title-font;
        //Text
        color: $yellow-color;
        text-shadow: 0 0 7px #000000, 0 0 10px #000000, 0 0 21px #000000,
          0 0 32px $yellow-color, 0 0 72px $yellow-color, 0 0 82px $yellow-color,
          0 0 92px $yellow-color, 0 0 141px $yellow-color;
        //Border
        border: 0.1rem solid #f1f190;
        border-radius: 1rem;
        box-shadow: 0 0 0.1rem #f0f084, 0 0 0.1rem #f1f153,
          0 0 1rem $yellow-color, 0 0 0.4rem $yellow-color,
          0 0 1.4rem $yellow-color, inset 0 0 0.7rem $yellow-color;
      }

      .delimiter {
        margin: 2rem 1rem 2rem 1rem;
      }
    }

    //Remove the title
    header {
      .woocommerce-products-header__title.page-title {
        display: none;
      }
    }

    //Selected products style
    .woocommerce-result-count {
      display: flex;
      align-items: center;

      .selected-products {
        font-size: 12px;
      }

      .selected-products-total {
        color: black;
        margin-left: 0.3rem;
        font-size: 15px;
      }
    }

    //Form sort style
    form.woocommerce-ordering {
      position: absolute;
      right: 0;
      margin: 0px $default-margin-side;
      select.orderby {
        background-color: $yellow-color;
        border: 1px solid $yellow-color;
        font-family: $text-font;
        border-radius: 8px;
        padding: 20px 3rem;
        font-size: 12px;
      }
    }

    //Product holder
    .products.columns-4 {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      margin: 4rem calc($default-margin-side - 0.3rem) 4rem
        calc($default-margin-side + 2.6rem);

      //each product
      .product {
        position: relative;
        display: flex;
        //justify-content: center;
        align-items: center;
        flex-direction: column;
        //width: 16rem;
        //padding: 10px;

        img {
          border-radius: $default-border-radius;
          margin-bottom: 0.5rem;
          margin-top: 2.5rem;
          max-width: 16rem;
          height: auto;
        }

        .woocommerce-loop-product__title {
          margin: auto;
          font-family: $main-title-font;
          font-size: 1rem;
          font-weight: lighter;
          color: #000000;
          margin-bottom: 10px;
          width: 90%;
          min-height: 45px;
          text-align: center;
        }

        .star-rating {
          display: none;
        }
        .price {
          display: flex;
          justify-content: center;
          font-size: 16px;
          font-family: $text-font;
          color: black;
          font-weight: bold;
          text-align: center;
        }

        a {
          text-decoration: none;
        }

        .add_to_cart_button {
          color: black;
          background-color: $yellow-color;
          border-radius: 5px;
          width: 70%;
          margin: 1rem 0px;
          text-align: center;
          font-size: 16.45px;
          font-weight: lighter;
          padding: 15px 10px;
        }
        .add_to_cart_button:hover {
          background-color: $selected-yellow-color;
          color: white;
        }

        a.added_to_cart {
          display: none;
        }
      }
    }

    .woocommerce-pagination {
      * {
        background-color: $yellow-color;
        color: black;
        font-family: $text-font;
      }

      margin-bottom: 5rem;
    }
  }
}

#sidebar {
  display: none;
}

.viwcpf-off_canvas-content-wrap.viwcpf-off_canvas-content-open.viwcpf-off_canvas-content-open-slide-left {
  * {
    color: black;
    font-family: $text-font;
  }

  .viwcpf-off_canvas-header-wrap {
    background-color: $yellow-color;
    h6 {
      font-family: $text-font;
      color: black;
    }
  }

  .viwcpf-off_canvas-content-wrap1 {
    background-color: white;

    //Price range
    .viwcpf_wrap_filter-content {
      .viwcpf_filter.viwcpf_range_slider {
        .irs-bar,
        .irs-handle.form,
        .irs-handle,
        .irs.form {
          background-color: $yellow-color;
          color: $yellow-color;
        }

        .irs-to,
        .irs-from {
          background-color: $yellow-color;
          color: #000000;
        }
      }
    }

    //Fiter chosen item
    a.viwcpf_chosen,
    .viwcpf_chosen::after {
      background-color: $yellow-color;
    }

    //Apply filter button
    .btn.btn-primary.viwcpf-apply-filters {
      background-color: $yellow-color;
      font-family: $text-font;
      border: 1px solid $yellow-color;
      border-radius: $default-border-radius;
      padding: 20px 40px;
    }
  }
}
